<link rel="stylesheet" href="/css/S_nav.css">
<section class="navigation">
    <aside>
        <section class="userprofile">
            <img src="/images/user.png" alt="userprofile" srcset="">    
        </section>
        <!-- <div class="button">
        <img src="/images/pen.png" alt="">
    </div> -->
        <nav>
            <ul>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Attendence</a></li>
                <li><a href="#">Fee Details</a></li>
            </ul>
        </nav>
    </aside>
</section>